$header-color: #FF4D7B;
$text-color: #5E4DCC;
$first-background-color:#FFD1DD;
$footer-color: #35288B;

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body::-webkit-scrollbar{
    background-color:$text-color;
}
body::-webkit-scrollbar-thumb{
    background-color: $first-background-color;
    border: 1px solid $footer-color;
    border-radius: 5px;
}
body::-webkit-scrollbar-track{
    background: $text-color;
}
body::-webkit-scrollbar-button{
    display: none;
}
aside{
    background-color: $header-color;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    p{
        margin-right: 5%;
        color: white;
        font-size: 16px;
    }
    a{
        display: block;
        text-decoration: none;
        color: white;
        background-color: $text-color;
        padding: 0.5% 2% 0.65%;
        border: 2px solid #867ad9;
        border-radius: 5px;
    }
}
header{
    background-color: $first-background-color;
    display: flex;
    justify-content: space-between;
    .logo-image{
        padding: 32px 80px;
        img{
            width: 129px;
            height: 33px;
        }
    }
    .header-content{
        display: flex;
        align-items: center;
        .header-list{
            ul{
                display: flex;
                list-style-type: none;
                li{
                    margin-right: 20px;
                    a{
                        text-decoration: none;
                        color: $text-color;
                        font-weight: bold;
                    }
                }
            }
        }
        .header-buttons{
            margin-right: 5%;
            display: flex;
            a{
                display: block;
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                border-radius: 5px;
                font-size: 18px;
            }
            a:first-child{
                background-color: $text-color;
                border: 2px solid #867ad9;
                width: 175px;
                color: white;
                margin-right: 3%;
                margin-left: 8%;
            }
            a:last-child{
                background-color: white;
                border: 2px solid white;
                color: $text-color;
                width: 103px;
                margin-right: 50px;
            }
        }
    }
}
main{
    form{
        margin-top: 3%;
        display: flex;
        justify-content: center;
        width: 100%;
        input{
            height: 58px;
            width: 229px;
            color: $text-color;
            border-radius: 5px;
            margin-right: 1%;
            border: 2px solid #ebebec;
            padding-left: 10px;
            
        }
        ::placeholder{
            color: $text-color;
            font-size: 15px;
            padding-left: 10px;
        }
        input:focus{
            border: 2px solid #ebebec;
        }
        button{
            height: 64px;
            width: 166px;
            color: white;
            font-weight: bold;
            border: 2px solid #867ad9;
            background-color: $text-color;
            border-radius: 5px;
        }
    }
    .data-block{
        background-color: $first-background-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 1200px;
        position: relative;
        h4{
            margin: 0;
            margin-bottom: 3%;
            font-size: 79px;
            font-weight: normal;
            width: 548px;
            text-align: center;
            color: $text-color;
            padding-top: 70px;
        }
        p{
            color: $text-color;
            font-size: 19px;
        }
        .smaller{
            font-size: 11px;
            a{
                text-decoration: none;
                color: $text-color;
                font-weight: bold;
                margin-left: 5px;
            }
        }
        .absolute-images{
            img{
                position: absolute;
            }
            img:nth-child(2){
                top: 63%;
                left: 27%;
                width: 50%;
                z-index: 1;
            }
            img:nth-child(1){
                top: 55%;
                left: 2%;
                z-index: 2;
            }
            img:nth-child(3){
                top: 45%;
                left: 72%;
                z-index: 3;
            }
        }
    }
    .article-block{
        background-color: white ;
        display: flex;
        justify-content: center;
        position: relative;
        .article{
            width: 80%;
            margin-top: 10%;
            display: flex;
            flex-direction: column;
            align-items: center;
            box-shadow: 0px 0px 30px 2px black;
            padding-top: 5%;
            img{
                height: 50px;
            }
            span{
                color: $text-color;
                text-align: center;
                width: 75%;
                font-size: 32px;
            }
            p{
                color: $text-color;
                margin-top: 2%;
                margin-bottom: 3%;
            }
            .smaller{
                margin-top: -2%;
                margin-bottom: 3%;
            }
        }
        .big{
            height: 206px;
            width: 216px;
        }
        .small{
            width: 159px;
            height: 149px;
        }
        .purpule{
            background-color: $first-background-color;
            position: absolute;
            z-index: 2;
        }
        .violet{
            background-color: $text-color;
            position: absolute;
        }
        div:nth-child(1){
            left: 1%;
            top: 65%;
        }
        div:nth-child(2){
            right: 5%;
            top: 2%;
        }
        div:nth-child(3){
            right: 4%;
            top: 18%;
        }
        div:nth-child(4){
            left: 3%;
            top: 50%;
        }
    }
    .text-image-block{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .block{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 5%;
            width: 80%;
            img{
                width: 40%;
            }
            .text{
                width: 45%;
                h5{
                    font-size: 48px;
                    font-weight: normal;
                    width: 459px;
                    margin-bottom: 1%;
                    color: $text-color;
                }
                p{
                    color: #b6b6b6;
                    font-size: 17px;
                    margin: 5% 0;
                }
                a{
                    text-decoration: none;
                    color: $text-color;
                    font-size: 18px;
                }
            }
        }
        .img-right{
            img{
                order: 1;
            }
        }
        h4{
            color: $text-color;
            font-weight: normal;
            font-size: 32px;
            margin: 6% 0 0;
        }
    }
    .article{
        margin-top: 10%;
        margin-bottom: 5%;
        text-align: center;
        h4{
            font-size: 48px;
            font-weight: normal;
            color: $text-color;
            margin-bottom: 1%;
        }
        p{
            color: #69698F;
            margin-top: 0;
        }
        h5{
            font-weight: normal;
            color: $text-color;
            font-size: 31px;
        }
    }
    .icons-block{
        display: flex;
        justify-content: space-around;
        .block{
            flex-basis: 20%;
            text-align: center;
            .icon{
                position: relative;
                display: flex;
                justify-content: center;
                img{
                    position: absolute;
                    width: 46px;
                    left: 43%;
                    top: 35px;
                    z-index: 3;
                }
                .purpule-block{
                    background-color: $text-color;
                    position: absolute;
                }
                .pink-block{
                    background-color: $first-background-color;
                    position: absolute;
                    z-index: 5;
                }
            }
            .header{
                color: $text-color;
                margin-top: 150px;
                font-size: 20px;
            }
            .text{
                color: #69698F;
                font-style: 18px;
                line-height: 27.2px
            }
        }
        .block:nth-child(1){
            .icon{
                .purpule-block{
                    top: 60px;
                    width: 120px;
                    height: 60px;
                }
                .pink-block{
                    top: 0;
                    width: 120px;
                    height: 60px;
                }
            }
        }
        .block:nth-child(2){
            .icon{
                .purpule-block{
                    width: 60px;
                    height: 120px;
                    right: 30.5%;
                }
                .pink-block{
                    width: 60px;
                    height: 120px;
                    right: 50%;
                }
            }
        }
        .block:nth-child(3){
            .icon{
                .purpule-block{
                    top: 0px;
                    width: 120px;
                    height: 60px;
                }
                .pink-block{
                    top: 60px;
                    width: 120px;
                    height: 60px;
                }
            }
        }
        .block:nth-child(4){
            .icon{
                .purpule-block{
                    width: 60px;
                    height: 120px;
                    right: 50%;
                }
                .pink-block{
                    width: 60px;
                    height: 120px;
                    right: 30.5%;
                }
            }
        }
    }
    .sing-up-block{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5%;
        .sing-up{
            width: 80%;
            background-color: $first-background-color;
            border-radius: 10px;
            padding: 2% 4%;
            display: flex;
            align-items: center;
            justify-content: center;
            .text-block{
                width: 50%;
                color: $text-color;
                .header{
                    font-size: 29px;
                    margin-bottom: 0;
                }
                .text{
                    font-size: 18px;
                }
            }
            .form-content{
                text-align: right;
                form{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 2%;
                }
                .smaller{
                    font-size: 11px;
                    a{
                        text-decoration: none;
                        color: $text-color;
                        font-weight: bold;
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}
footer{
    background-color: $footer-color;
    color: white;
    margin-bottom: -1%;
    padding-top: 10%;
    a{
        color: white;
        text-decoration: none;
    }
    .first-part{
        display: flex;
        justify-content: space-between;
        .list{
            flex-basis: 30%;
            .header{
                font-size: 12px;
                margin-bottom: 10%;
            }
            ul{
                list-style: none;
                padding-left: 0;
                font-size: 16px;
                li{
                    margin: 5% 0;
                }
            }
        }
        .list:first-child{
            margin-left: 10%;
        }
    }
    .second-part{
        display: flex;
        flex-direction: column;
        align-items: center;
        h2{
            font-size: 34px;
            text-align: center
        }
        ul{
            list-style: none;
            text-align: center;
            padding-left: 0;

        }
        .me{
            margin-top: 5%;
            margin-bottom: 1%;
            color: gray;
            a{
                color: gray;
                text-decoration: underline;
            }
        }
    }

}
